
rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    match /leads/{leadId} {
      allow get, list: if isSignedIn();
      allow create: if isSignedIn();
      allow update: if isSignedIn() && resource != null;
      allow delete: if isSignedIn() && resource != null;
    }

    match /leads/{leadId}/appointments/{appointmentId} {
      allow get, list: if isSignedIn();
      allow create: if isSignedIn();
      allow update: if isSignedIn() && resource != null;
      allow delete: if isSignedIn() && resource != null;
    }

    match /testimonials/{testimonialId} {
      allow get, list: if true;
      allow create: if isSignedIn();
      allow update: if isSignedIn() && resource != null;
      allow delete: if isSignedIn() && resource != null;
    }

    match /faqs/{faqId} {
      allow get, list: if true;
      allow create: if isSignedIn();
      allow update: if isSignedIn() && resource != null;
      allow delete: if isSignedIn() && resource != null;
    }
    
    // Rule for the carriers collection
    match /carriers/{carrierId} {
      allow read, write: if request.auth != null && request.auth.uid == carrierId;
    }

    // Rules for all subcollections of a carrier
    match /carriers/{carrierId}/{subcollection}/{documentId} {
        allow read, write: if request.auth != null && request.auth.uid == carrierId;
    }
  }

  function isSignedIn() {
    return request.auth != null;
  }
}

    